# Reading in the Data

The data we have comes from the Advanced Sports Analytics website and covers offensive, defensive, and kicking data for games played from September 5, 2019 to December 5, 2022. There are three separate csv files for each of the team components. The link to download the data is https://www.advancedsportsanalytics.com/nfl-raw-data

In [4]:
# get pandas
import pandas as pd

In [5]:
# read in pass, rush, receive csv file and check our data
url='https://drive.google.com/file/d/1rgtUpzmZFqDzSm2XWjkoT74bWrs1jGhO/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_prr = pd.read_csv(url)
df_prr

,game_id,player_id,pos,player,team,pass_cmp,pass_att,pass_yds,pass_td,pass_int,...,OT,Roof,Surface,Temperature,Humidity,Wind_Speed,Vegas_Line,Vegas_Favorite,Over_Under,game_date
0,201909050chi,RodgAa00,QB,Aaron Rodgers,GNB,18,30,203,1,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
1,201909050chi,JoneAa00,RB,Aaron Jones,GNB,0,0,0,0,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
2,201909050chi,ValdMa00,WR,Marquez Valdes-Scantling,GNB,0,0,0,0,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
3,201909050chi,AdamDa01,WR,Davante Adams,GNB,0,0,0,0,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
4,201909050chi,GrahJi00,TE,Jimmy Graham,GNB,0,0,0,0,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23953,202211210crd,KrofTy00,TE,Tyler Kroft,SFO,0,0,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21
23954,202211210crd,WoerCh00,TE,Charlie Woerner,SFO,0,0,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21
23955,202211210crd,GrayDa02,WR,Danny Gray,SFO,0,0,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21
23956,202211210crd,DwelRo00,TE,Ross Dwelley,SFO,0,0,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21
23957,202211210crd,AndeRo04,WR,Robbie Anderson,ARI,0,0,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21

In [6]:
# read in defense csv file and check our data
url='https://drive.google.com/file/d/1vSrRW4rU9CeMHf13Nd_u9jyTaokdkOaF/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_dst = pd.read_csv(url)
df_dst

,game_id,team,def_int,def_int_td,sacks,fumbles_rec,fumbles_rec_td,blocked_kick,safety,def_two_point_conv,...,OT,Roof,Surface,Temperature,Humidity,Wind_Speed,Vegas_Line,Vegas_Favorite,Over_Under,game_date
0,201909050chi,CHI,0,0,5,0,0,0,0,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
1,201909050chi,GNB,1,0,5,0,0,0,0,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
2,201909080car,LAR,1,0,3,2,0,0,0,0,...,False,outdoors,grass,87,53,3,-1.5,LAR,49.5,2019-09-08
3,201909080car,CAR,1,0,1,0,0,1,0,0,...,False,outdoors,grass,87,53,3,-1.5,LAR,49.5,2019-09-08
4,201909080cle,CLE,0,0,4,0,0,0,0,0,...,False,outdoors,grass,71,55,10,-5.5,CLE,44.0,2019-09-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,202211200rav,CAR,1,0,3,0,0,0,0,0,...,False,outdoors,grass,36,24,2,NaN,NaN,NaN,2022-11-20
1937,202211200sdg,KAN,1,0,5,1,0,0,0,0,...,False,dome,matrixturf,72,45,0,NaN,NaN,NaN,2022-11-20
1938,202211200sdg,LAC,0,0,1,1,0,0,0,0,...,False,dome,matrixturf,72,45,0,NaN,NaN,NaN,2022-11-20
1939,202211210crd,ARI,0,0,0,0,0,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21
1940,202211210crd,SFO,2,0,3,0,0,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21

In [7]:
# read in kicking csv file and check our data
url='https://drive.google.com/file/d/1MQ_WfL_JaJuY8iwvIghoU_-sKvrhy4qP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_kicking = pd.read_csv(url)
df_kicking

,game_id,Off_abbrev,Def_abbrev,fga,fgm,xpa,xpm,fga_0_39,fgm_0_39,fga_40_49,...,OT,Roof,Surface,Temperature,Humidity,Wind_Speed,Vegas_Line,Vegas_Favorite,Over_Under,game_date
0,201909050chi,CHI,GNB,1,1,0,0,1,1,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
1,201909050chi,GNB,CHI,1,1,1,1,1,1,0,...,False,outdoors,grass,65,69,10,-3.5,CHI,47.0,2019-09-05
2,201909080car,CAR,LAR,3,2,3,3,0,0,1,...,False,outdoors,grass,87,53,3,-1.5,LAR,49.5,2019-09-08
3,201909080car,LAR,CAR,4,3,3,3,1,1,2,...,False,outdoors,grass,87,53,3,-1.5,LAR,49.5,2019-09-08
4,201909080cle,TEN,CLE,2,2,5,5,1,1,0,...,False,outdoors,grass,71,55,10,-5.5,CLE,44.0,2019-09-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946,202211200rav,BAL,CAR,2,2,1,1,2,2,0,...,False,outdoors,grass,36,24,2,NaN,NaN,NaN,2022-11-20
1947,202211200sdg,KAN,LAC,3,3,3,3,2,2,0,...,False,dome,matrixturf,72,45,0,NaN,NaN,NaN,2022-11-20
1948,202211200sdg,LAC,KAN,2,2,3,3,1,1,1,...,False,dome,matrixturf,72,45,0,NaN,NaN,NaN,2022-11-20
1949,202211210crd,SFO,ARI,1,1,5,5,0,0,0,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21
1950,202211210crd,ARI,SFO,1,1,1,1,0,0,1,...,False,outdoors,grass,64,52,4,NaN,NaN,NaN,2022-11-21

In [8]:
# check data types
df_prr.dtypes

game_id            object
player_id          object
pos                object
player             object
team               object
                   ...
Wind_Speed          int64
Vegas_Line        float64
Vegas_Favorite     object
Over_Under        float64
game_date          object
Length: 69, dtype: object

In [9]:
df_dst.dtypes

game_id                  object
team                     object
def_int                   int64
def_int_td                int64
sacks                     int64
fumbles_rec               int64
fumbles_rec_td            int64
blocked_kick              int64
safety                    int64
def_two_point_conv        int64
total_ret_td              int64
Team_abbrev              object
Opponent_abbrev          object
Opponent_score            int64
points_allowed_0          int64
points_allowed_1_6        int64
points_allowed_7_13       int64
points_allowed_14_20      int64
points_allowed_21_27      int64
points_allowed_28_34      int64
points_allowed_35         int64
Total_DKP                 int64
Total_FDP                 int64
vis_team                 object
home_team                object
vis_score                 int64
home_score                int64
OT                         bool
Roof                     object
Surface                  object
Temperature               int64
Humidity                  int64
Wind_Speed                int64
Vegas_Line              float64
Vegas_Favorite           object
Over_Under              float64
game_date                object
dtype: object

In [10]:
df_kicking.dtypes

game_id            object
Off_abbrev         object
Def_abbrev         object
fga                 int64
fgm                 int64
xpa                 int64
xpm                 int64
fga_0_39            int64
fgm_0_39            int64
fga_40_49           int64
fgm_40_49           int64
fga_50              int64
fgm_50              int64
player             object
Total_DKP           int64
Total_FDP           int64
Total_SDP           int64
vis_team           object
home_team          object
vis_score           int64
home_score          int64
OT                   bool
Roof               object
Surface            object
Temperature         int64
Humidity            int64
Wind_Speed          int64
Vegas_Line        float64
Vegas_Favorite     object
Over_Under        float64
game_date          object
dtype: object

# Modifying our data frames

Since much of the information like weather data and visiting/home score are repeated across the data frames, we will keep game_id in each as our primary key and select specific columns applying to each new data frame like game information and weather data to reduce reduncancy. We also need to check each data frame we create for NaNs, because I spotted several errors while scrolling through the raw data.

For our game information data frame, we should drop duplicate rows because the same game is repeated twice, with the same game id followed by data for each home and visitor team. The information we'll need from each game like the home score and visitor score will be the same for both rows, so we need not worry about losing important data.

In [11]:
# create game outcome dataframe and drop duplicates to get rid of the same game being shown for both teams.
game_info = df_prr[['game_id', 'home_team', 'vis_team', 'home_score', 'vis_score', 'OT', 'Vegas_Favorite', 'game_date']]
game_info.shape

(23958, 8)

In [12]:
#check for NaNs
game_info.isna().sum().sum()

1052

In [13]:
#drop NaNs
game_info = game_info.dropna()
game_info.shape

(22906, 8)

In [14]:
# Convert game_date from object to date.
game_info['game_date'] = pd.to_datetime(game_info['game_date'])

In [15]:
# Check our conversion by checking data types of game_info.
game_info.dtypes

game_id                   object
home_team                 object
vis_team                  object
home_score                 int64
vis_score                  int64
OT                          bool
Vegas_Favorite            object
game_date         datetime64[ns]
dtype: object

Our game_info table contains many duplicates, as the original table has stats for many players from the same game. We only need the results of a single game one time, so let's drop our duplicates since the score will be the same whether we're looking at the visiting or home team.

In [16]:
game_info = game_info.drop_duplicates()

In [17]:
# Check columns of game_info
game_info.head()

,game_id,home_team,vis_team,home_score,vis_score,OT,Vegas_Favorite,game_date
0,201909050chi,CHI,GNB,3,10,False,CHI,2019-09-05
24,201909080car,CAR,LAR,27,30,False,LAR,2019-09-08
44,201909080cle,CLE,TEN,13,43,False,CLE,2019-09-08
68,201909080crd,ARI,DET,27,27,True,DET,2019-09-08
91,201909080dal,DAL,NYG,35,17,False,DAL,2019-09-08

The duplicate information for each game has successfully been dropped!

In [18]:
# create quarterback dataframe and name the columns so we can index them
quarterbacks = df_prr[['game_id', 'player', 'team', 'pos', 'pass_att', 'pass_cmp', 'pass_yds', 'pass_td', 'pass_int', 'pass_sacked', 'rush_yds', 'rush_td']]
quarterbacks.columns = ['game_id', 'player', 'team', 'pos', 'pass_att', 'pass_cmp', 'pass_yds', 'pass_td', 'pass_int', 'pass_sacked', 'rush_yds', 'rush_td']
quarterbacks.head()

,game_id,player,team,pos,pass_att,pass_cmp,pass_yds,pass_td,pass_int,pass_sacked,rush_yds,rush_td
0,201909050chi,Aaron Rodgers,GNB,QB,30,18,203,1,0,5,8,0
1,201909050chi,Aaron Jones,GNB,RB,0,0,0,0,0,0,39,0
2,201909050chi,Marquez Valdes-Scantling,GNB,WR,0,0,0,0,0,0,0,0
3,201909050chi,Davante Adams,GNB,WR,0,0,0,0,0,0,0,0
4,201909050chi,Jimmy Graham,GNB,TE,0,0,0,0,0,0,0,0

In [19]:
# Restrict positions to just quarterback, so we should have a dataframe with each quarterback and the stats from their games played.
# Then remove the position columns since we know every player is a quarterback. 
# Check the shape to make sure we have 12 columns.
quarterbacks = quarterbacks[quarterbacks['pos'] == 'QB']
quarterbacks = quarterbacks.drop(columns=['pos'])
quarterbacks.shape

(2365, 11)

In [20]:
# Create the offensive players dataframe and check the columns.
offense = df_prr[['game_id', 'team', 'pos', 'rush_yds', 'rush_td', 'rec', 'rec_yds', 'rec_td']]
offense

            game_id team pos  rush_yds  rush_td  rec  rec_yds  rec_td
0      201909050chi  GNB  QB         8        0    0        0       0
1      201909050chi  GNB  RB        39        0    1        0       0
2      201909050chi  GNB  WR         0        0    4       52       0
3      201909050chi  GNB  WR         0        0    4       36       0
4      201909050chi  GNB  TE         0        0    3       30       1
...             ...  ...  ..       ...      ...  ...      ...     ...
23953  202211210crd  SFO  TE         0        0    0        0       0
23954  202211210crd  SFO  TE         0        0    0        0       0
23955  202211210crd  SFO  WR         0        0    0        0       0
23956  202211210crd  SFO  TE         0        0    0        0       0
23957  202211210crd  ARI  WR         0        0    0        0       0

[23958 rows x 8 columns]

In [21]:
# Check offense for NaNs
offense.isna().sum().sum()

0

In [90]:
# Create the defensive dataframe and check our columns.
defensive_team = df_dst[['game_id', 'team', 'def_int', 'def_int_td', 'sacks', 'fumbles_rec', 'blocked_kick', 'safety', 'points_allowed_0', 'points_allowed_1_6', 'points_allowed_7_13', 'points_allowed_14_20', 'points_allowed_21_27', 'points_allowed_28_34', 'points_allowed_35']]
defensive_team

,game_id,team,def_int,def_int_td,sacks,fumbles_rec,blocked_kick,safety,points_allowed_0,points_allowed_1_6,points_allowed_7_13,points_allowed_14_20,points_allowed_21_27,points_allowed_28_34,points_allowed_35
0,201909050chi,CHI,0,0,5,0,0,0,0,0,1,0,0,0,0
1,201909050chi,GNB,1,0,5,0,0,0,0,1,0,0,0,0,0
2,201909080car,LAR,1,0,3,2,0,0,0,0,0,0,1,0,0
3,201909080car,CAR,1,0,1,0,1,0,0,0,0,0,0,1,0
4,201909080cle,CLE,0,0,4,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,202211200rav,CAR,1,0,3,0,0,0,0,0,1,0,0,0,0
1937,202211200sdg,KAN,1,0,5,1,0,0,0,0,0,0,1,0,0
1938,202211200sdg,LAC,0,0,1,1,0,0,0,0,0,0,0,1,0
1939,202211210crd,ARI,0,0,0,0,0,0,0,0,0,0,0,0,1
1940,202211210crd,SFO,2,0,3,0,0,0,0,0,1,0,0,0,0

In [91]:
# Check defense for NaNs.
defensive_team.isna().sum().sum()

0

In our queries we'll want to see how defensive teams perform when at home. We'll drop duplicates so that the same game is not represented by the defenses of both the home and visiting teams, and so we can make the gameid the primary key in our defensive table.

In [92]:
# Drop duplicates
defensive_team = defensive_team.drop_duplicates(subset='game_id')

In [94]:
# Check defense table.
defensive_team.head()

,game_id,team,def_int,def_int_td,sacks,fumbles_rec,blocked_kick,safety,points_allowed_0,points_allowed_1_6,points_allowed_7_13,points_allowed_14_20,points_allowed_21_27,points_allowed_28_34,points_allowed_35
0,201909050chi,CHI,0,0,5,0,0,0,0,0,1,0,0,0,0
2,201909080car,LAR,1,0,3,2,0,0,0,0,0,0,1,0,0
4,201909080cle,CLE,0,0,4,0,0,0,0,0,0,0,0,0,1
6,201909080crd,DET,1,0,5,0,0,0,0,0,0,0,1,0,0
8,201909080dal,DAL,0,0,1,2,0,0,0,0,0,1,0,0,0

We'll do the same transformation for the kickers, focusing our analysis on the performance of kickers at their home field.

In [110]:
# Create the kickers dataframe and check our columns.
kicking = df_kicking[['game_id', 'player', 'fga', 'fgm', 'xpa', 'xpm', 'fga_0_39', 'fgm_0_39', 'fga_40_49', 'fgm_40_49', 'fga_50', 'fgm_50']]
kicking = kickers.drop_duplicates(subset='game_id')
kicking

,game_id,player,fga,fgm,xpa,xpm,fga_0_39,fgm_0_39,fga_40_49,fgm_40_49,fga_50,fgm_50
0,201909050chi,Eddy Pineiro,1,1,0,0,1,1,0,0,0,0
2,201909080car,Joey Slye,3,2,3,3,0,0,1,1,2,1
4,201909080cle,Cairo Santos,2,2,5,5,1,1,0,0,1,1
6,201909080crd,Zane Gonzalez,4,4,1,1,3,3,1,1,0,0
8,201909080dal,Brett Maher,0,0,5,5,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1941,202211200nyg,Michael Badgley,1,1,4,4,1,1,0,0,0,0
1943,202211200pit,Evan McPherson,3,3,4,4,0,0,2,2,1,1
1945,202211200rav,Eddy Pineiro,1,1,0,0,0,0,0,0,0,0
1947,202211200sdg,Harrison Butker,3,3,3,3,2,2,0,0,1,1
1949,202211210crd,Robbie Gould,1,1,5,5,0,0,0,0,0,0

In [111]:
# Check kicking for NaNs.
kicking.isna().sum().sum()

0

Since the data for one game is recorded twice, once for the home team and once for the visitor team, we'll again drop the duplicates of this table.

In [116]:
# Create the weather/conditions dataframe and check our columns.
weather = df_kicking[['game_id', 'Roof', 'Surface', 'Temperature', 'Humidity', 'Wind_Speed']]
weather = weather.drop_duplicates(subset='game_id')

In [117]:
# Check weather for NaNs.
weather.isna().sum().sum()

0

# Creating the tables in our database

We must import our SQL functions and define a function to connect to our database. We also need to define functions to run queries and check information in our tables like the column names. Then we can run our queries to create the tables.

In [28]:
# import SQL functions
import psycopg2

In [29]:
# Define get_conn_curr to connect to our database
def get_conn_cur():
 
 conn = psycopg2.connect(
    host="dbwk7.cdmcrhr1hses.us-west-2.rds.amazonaws.com",
    database="dbwk7",
    user="postgres",
    password="onthedownload",
    port='5432'
    )
 
 cur = conn.cursor()
 return(conn, cur)

In [30]:
# Run or old functions in case we want to check our data!

# run_query function
def run_query(query_string):

 conn, cur = get_conn_cur() # get connection and cursor

 cur.execute(query_string) # executing string as before

 my_data = cur.fetchall() # fetch query data as before

 # here we're extracting the 0th element for each item in cur.description
 colnames = [desc[0] for desc in cur.description]

 cur.close() # close
 conn.close() # close

 return(colnames, my_data) # return column names AND data

# Column name function for checking out what's in a table
def get_column_names(table_name): # arguement of table_name
 conn, cur = get_conn_cur() # get connection and cursor

 # Now select column names while inserting the table name into the WERE
 column_name_query = """SELECT column_name FROM information_schema.columns
    WHERE table_name = '%s' """ %table_name

 cur.execute(column_name_query) # exectue
 my_data = cur.fetchall() # store

 cur.close() # close
 conn.close() # close

 return(my_data) # return

# Check table_names
def get_table_names():
 conn, cur = get_conn_cur() # get connection and cursor

 # query to get table names
 table_name_query = """SELECT table_name FROM information_schema.tables
    WHERE table_schema = 'public' """

 cur.execute(table_name_query) # execute
 my_data = cur.fetchall() # fetch results

 cur.close() #close cursor
 conn.close() # close connection

 return(my_data) # return your fetched results
 
# make sql_head function
def sql_head(table_name):
 conn, cur = get_conn_cur() # get connection and cursor

 # Now select column names while inserting the table name into the WERE
 head_query = """SELECT * FROM %s LIMIT 5; """ %table_name

 cur.execute(head_query) # exectue
 colnames = [desc[0] for desc in cur.description] # get column names
 my_data = cur.fetchall() # store first five rows

 cur.close() # close
 conn.close() # close

 df = pd.DataFrame(data = my_data, columns = colnames) # make into df

 return(df) # return

In [62]:
# query creating game_info table with game_id as primary key
tq = """CREATE TABLE game_info (
     game_id VARCHAR(255) PRIMARY KEY,
     home_team VARCHAR(255),
     vis_team VARCHAR(255),
     home_score INTEGER,
     vis_score INTEGER,
     OT BOOLEAN,
     Vegas_Favorite VARCHAR(255),
     game_date timestamp NOT NULL
     );"""

In [63]:
# Get our connection and cursor and assign to conn and cur
conn, cur = get_conn_cur()

In [64]:
# execute our query we wrote above
cur.execute(tq)

In [65]:
# Commit the table.
conn.commit()

In [31]:
# Check that table is there
get_table_names()

[('states',),
 ('qb',),
 ('quarterbacks',),
 ('profs',),
 ('cases_df',),
 ('defense',),
 ('judges',),
 ('kickers',),
 ('casetype',),
 ('weather',),
 ('rollup',),
 ('kicking',),
 ('weekly_stats',),
 ('game_info',)]

In [32]:
# Run query to check our column names and corresponding data types.
conn, cur = get_conn_cur()
cur = conn.cursor()
uq = """SELECT column_name, data_type
     FROM information_schema.columns
     WHERE table_name = 'game_info';"""
cur.execute(uq)
print(cur.fetchall())
conn.close()

[('game_id', 'character varying'), ('home_team', 'character varying'), ('vis_team', 'character varying'), ('home_score', 'integer'), ('vis_score', 'integer'), ('ot', 'boolean'), ('vegas_favorite', 'character varying'), ('game_date', 'timestamp without time zone')]

In [103]:
# Make quarterbacks table
tq = """CREATE TABLE quarterbacks (
     game_id VARCHAR(255),
     player VARCHAR(255),
     team VARCHAR(255),
     pass_att INTEGER,
     pass_cmp INTEGER,
     pass_yds INTEGER,
     pass_td INTEGER,
     pass_int INTEGER,
     pass_sacked INTEGER,
     rush_yds INTEGER,
     rush_td INTEGER
     );"""

In [104]:
# Execute our query, commit the table, and check that it is in our database.
conn, cur = get_conn_cur()
cur.execute(tq)
conn.commit()
get_table_names()

[('states',),
 ('qb',),
 ('quarterbacks',),
 ('profs',),
 ('cases_df',),
 ('defense',),
 ('judges',),
 ('kickers',),
 ('casetype',),
 ('weather',),
 ('rollup',),
 ('kicking',),
 ('weekly_stats',),
 ('game_info',)]

In [81]:
# Create defensive table
tq = """CREATE TABLE defensive_team (
     game_id VARCHAR(255) PRIMARY KEY,
     team VARCHAR(255),
     def_int INTEGER,
     def_int_td INTEGER,
     sacks INTEGER,
     fumbles_rec INTEGER,
     blocked_kick INTEGER,
     safety INTEGER,
     points_allowed_0 INTEGER,
     points_allowed_1_6 INTEGER,
     points_allowed_7_13 INTEGER,
     points_allowed_14_20 INTEGER,
     points_allowed_21_27 INTEGER,
     points_allowed_28_34 INTEGER,
     points_allowed_35 INTEGER
     );"""

In [82]:
# Execute our query, commit the table, and check that it is in our database.
conn, cur = get_conn_cur()
cur.execute(tq)
conn.commit()
get_table_names()

[('states',),
 ('qb',),
 ('quarterbacks',),
 ('profs',),
 ('cases_df',),
 ('defense',),
 ('defensive',),
 ('judges',),
 ('kickers',),
 ('defensive_team',),
 ('casetype',),
 ('weather',),
 ('rollup',),
 ('kicking',),
 ('weekly_stats',),
 ('game_info',)]

In [90]:
# Create kicking table
tq = """CREATE TABLE kicking (
     game_id VARCHAR(255) PRIMARY KEY,
     player VARCHAR(255),
     fga INTEGER,
     fgm INTEGER,
     xpa INTEGER,
     xpm INTEGER,
     fga_0_39 INTEGER,
     fgm_0_39 INTEGER,
     fga_40_49 INTEGER,
     fgm_40_49 INTEGER,
     fga_50 INTEGER,
     fgm_50 INTEGER
     );"""

In [91]:
# Execute our query, commit the table, and check that it is in our database.
conn, cur = get_conn_cur()
cur.execute(tq)
conn.commit()
get_table_names()

[('states',),
 ('qb',),
 ('profs',),
 ('cases_df',),
 ('defense',),
 ('judges',),
 ('kickers',),
 ('casetype',),
 ('weather',),
 ('rollup',),
 ('kicking',),
 ('weekly_stats',),
 ('game_info',)]

In [107]:
# Create weather/conditions table
tq = """CREATE TABLE weather (
     game_id VARCHAR(255) PRIMARY KEY,
     Roof VARCHAR(255),
     Surface VARCHAR(255),
     Temperature INTEGER,
     Humidity INTEGER,
     Wind_Speed INTEGER
     );"""

In [85]:
# Execute our query, commit the table, and check that it is in our database.
conn, cur = get_conn_cur()
cur.execute(tq)
conn.commit()
get_table_names()

[('states',),
 ('qb',),
 ('profs',),
 ('cases_df',),
 ('defense',),
 ('judges',),
 ('kickers',),
 ('casetype',),
 ('weather',),
 ('rollup',),
 ('weekly_stats',),
 ('game_info',)]

# Loading information into our database

Now that our empty tables are in our database, we must write queries to insert out data. First let's make sure the columns in our database have the same order as the columns in the tables we have made.

In [33]:
# Check column order of game_info.
get_column_names(table_name='game_info')

[('game_id',),
 ('home_team',),
 ('vis_team',),
 ('home_score',),
 ('vis_score',),
 ('ot',),
 ('vegas_favorite',),
 ('game_date',)]

In [34]:
# Check column order of quarterbacks.
get_column_names(table_name='quarterbacks')

[('game_id',),
 ('player',),
 ('team',),
 ('pass_att',),
 ('pass_cmp',),
 ('pass_yds',),
 ('pass_td',),
 ('pass_int',),
 ('pass_sacked',),
 ('rush_yds',),
 ('rush_td',)]

In [97]:
# Check column order of defense team table.
get_column_names(table_name='defensive_team')

[('game_id',),
 ('team',),
 ('def_int',),
 ('def_int_td',),
 ('sacks',),
 ('fumbles_rec',),
 ('blocked_kick',),
 ('safety',),
 ('points_allowed_0',),
 ('points_allowed_1_6',),
 ('points_allowed_7_13',),
 ('points_allowed_14_20',),
 ('points_allowed_21_27',),
 ('points_allowed_28_34',),
 ('points_allowed_35',)]

In [93]:
# Check column order of kickers.
get_column_names(table_name='kickers')

[('game_id',),
 ('fga',),
 ('fgm',),
 ('xpa',),
 ('xpm',),
 ('fga_0_39',),
 ('fgm_0_39',),
 ('fga_40_49',),
 ('fgm_40_49',),
 ('fga_50',),
 ('fgm_50',)]

It seems we have forgetten a column identifying the kicker by name. We will fix this by changing our table name to 'kicking' in the query we created, and adding in kickers as a varied character data type.

In [94]:
# Check column order of kicking.
get_column_names(table_name='kicking')

[('game_id',),
 ('player',),
 ('fga',),
 ('fgm',),
 ('xpa',),
 ('xpm',),
 ('fga_0_39',),
 ('fgm_0_39',),
 ('fga_40_49',),
 ('fgm_40_49',),
 ('fga_50',),
 ('fgm_50',)]

This seems to have fixed the problem.

In [108]:
# Check column order of weather.
get_column_names(table_name='weather')

[('game_id',),
 ('roof',),
 ('surface',),
 ('temperature',),
 ('humidity',),
 ('wind_speed',)]

# Inserting our data to our data base

We must create tuples from the rows of our tables so SQL can receive our data.

We'll start with our game_info table.

In [86]:
# Use numpy to convert each row to a tuple so that SQL can receive the data.
import numpy as np
game_info_data_tups = [tuple(x) for x in game_info.to_numpy()]

In [87]:
# Write our insert string.
# We have eight values in each tuple, so we need to write '%s inside the string eight times.
iq = """INSERT INTO game_info(game_id,home_team,vis_team,home_score,vis_score,ot,vegas_favorite,game_date) VALUES(%s, %s, %s, %s, %s, %s, %s, %s);"""
iq

'INSERT INTO game_info(game_id,home_team,vis_team,home_score,vis_score,ot,vegas_favorite,game_date) VALUES(%s, %s, %s, %s, %s, %s, %s, %s);'

In [88]:
# Check if query works.
iq % game_info_data_tups[4]

'INSERT INTO game_info(game_id,home_team,vis_team,home_score,vis_score,ot,vegas_favorite,game_date) VALUES(201909080dal, DAL, NYG, 35, 17, False, DAL, 2019-09-08 00:00:00);'

In [38]:
# Upload our data.
conn, cur = get_conn_cur()
cur.executemany(iq, game_info_data_tups)
conn.commit()
conn.close()

Time to upload data to the quarterbacks table.

In [39]:
# Use numpy to convert each row to a tuple so that SQL can receive the data.
quarterbacks_data_tups = [tuple(x) for x in quarterbacks.to_numpy()]

In [41]:
# Write our insert string.
# We have eleven values in each tuple, so we need to write '%s inside the string eleven times.
iq = """INSERT INTO quarterbacks(game_id,player,team,pass_att,pass_cmp,pass_yds,pass_td,pass_int,pass_sacked,rush_yds,rush_td) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""
iq

'INSERT INTO quarterbacks(game_id,player,team,pass_att,pass_cmp,pass_yds,pass_td,pass_int,pass_sacked,rush_yds,rush_td) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'

In [42]:
# Check if query works
iq % quarterbacks_data_tups[4]

'INSERT INTO quarterbacks(game_id,player,team,pass_att,pass_cmp,pass_yds,pass_td,pass_int,pass_sacked,rush_yds,rush_td) VALUES(201909080cle, Marcus Mariota, TEN, 24, 14, 248, 3, 0, 4, 24, 0);'

In [45]:
# Upload data
conn, cur = get_conn_cur()
cur.executemany(iq, quarterbacks_data_tups)
conn.commit()
conn.close()

Now the defense table.

In [98]:
# Use numpy to convert each row to a tuple so that SQL can receive the data.
defensive_team_data_tups = [tuple(x) for x in defensive_team.to_numpy()]

In [99]:
# Write our insert string.
# We have fifteen values in each tuple, so we need to write '%s inside the string fifteen times.
iq = """INSERT INTO defensive_team(game_id,team,def_int,def_int_td,sacks,fumbles_rec,blocked_kick,safety,points_allowed_0,points_allowed_1_6,points_allowed_7_13,points_allowed_14_20,points_allowed_21_27,points_allowed_28_34,points_allowed_35) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""
iq

'INSERT INTO defensive_team(game_id,team,def_int,def_int_td,sacks,fumbles_rec,blocked_kick,safety,points_allowed_0,points_allowed_1_6,points_allowed_7_13,points_allowed_14_20,points_allowed_21_27,points_allowed_28_34,points_allowed_35) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'

In [100]:
# Check if query works
iq % defensive_team_data_tups[4]

'INSERT INTO defensive_team(game_id,team,def_int,def_int_td,sacks,fumbles_rec,blocked_kick,safety,points_allowed_0,points_allowed_1_6,points_allowed_7_13,points_allowed_14_20,points_allowed_21_27,points_allowed_28_34,points_allowed_35) VALUES(201909080dal, DAL, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0);'

In [101]:
# Upload data
conn, cur = get_conn_cur()
cur.executemany(iq, defensive_team_data_tups)
conn.commit()
conn.close()

Now to upload the kicking data to the table in our database.

In [112]:
# Use numpy to convert each row to a tuple so that SQL can receive the data.
kicking_data_tups = [tuple(x) for x in kicking.to_numpy()]

In [113]:
# Write our insert string.
# We have twelve values in each tuple, so we need to write '%s inside the string twelve times.
iq = """INSERT INTO kicking(game_id,player,fga,fgm,xpa,xpm,fga_0_39,fgm_0_39,fga_40_49,fgm_40_49,fga_50,fgm_50) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""
iq

'INSERT INTO kicking(game_id,player,fga,fgm,xpa,xpm,fga_0_39,fgm_0_39,fga_40_49,fgm_40_49,fga_50,fgm_50) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'

In [114]:
# Check if query works
iq % kicking_data_tups[4]

'INSERT INTO kicking(game_id,player,fga,fgm,xpa,xpm,fga_0_39,fgm_0_39,fga_40_49,fgm_40_49,fga_50,fgm_50) VALUES(201909080dal, Brett Maher, 0, 0, 5, 5, 0, 0, 0, 0, 0, 0);'

In [115]:
# Upload data
conn, cur = get_conn_cur()
cur.executemany(iq, kicking_data_tups)
conn.commit()
conn.close()

Now to upload our weather data to the table in our database.

In [118]:
# Use numpy to convert each row to a tuple so that SQL can receive the data.
weather_data_tups = [tuple(x) for x in weather.to_numpy()]

In [119]:
# Write our insert string.
# We have six values in each tuple, so we need to write '%s inside the string six times.
iq = """INSERT INTO weather(game_id,roof,surface,temperature,humidity,wind_speed) VALUES(%s, %s, %s, %s, %s, %s);"""
iq

'INSERT INTO weather(game_id,roof,surface,temperature,humidity,wind_speed) VALUES(%s, %s, %s, %s, %s, %s);'

In [120]:
# Check if query works
iq % weather_data_tups[4]

'INSERT INTO weather(game_id,roof,surface,temperature,humidity,wind_speed) VALUES(201909080dal, retractable roof (closed), fieldturf, 72, 45, 0);'

In [121]:
# Upload data
conn, cur = get_conn_cur()
cur.executemany(iq, weather_data_tups)
conn.commit()
conn.close()

# Running Queries

We can use our data to answer questions and analyze teams in the league. Being from Kansas City, my favorite team is the Chiefs, so I will be analyzing Patrick Mahomes' effectiveness as a quarterback since he started with the team, along with our kicker's accuracy across varied distances and our defense's ability to prevent scoring. In addition, I will be comparing Mahomes' performance to the other quarterbacks in the league, and determining what type of weather leads to the least scoring.

First let's get Patrick Mahomes' average passing yards from games he's played.

In [126]:
# Do a subquery getting just Patrick Mahomes average passing yards in an individual game.
sq = """SELECT AVG(pass_yds) FROM quarterbacks
          WHERE player = 'Patrick Mahomes'
          """
run_query(sq)

(['avg'], [(Decimal('303.0781250000000000'),)])

An average of over 300 yards!